
.checkout.woocommerce-checkout.processing:before {
    position: absolute;
    z-index: 1;
    top: 50%;
    float: left;
    left: 40%;
    width: 100%;
    height: 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' strokeWidth=%7B1.5%7D stroke='currentColor' className='w-6 h-6'%3E%3Cpath strokeLinecap='round' strokeLinejoin='round' d='M16.023 9.348h4.992v-.001M2.985 19.644v-4.992m0 0h4.992m-4.993 0l3.181 3.183a8.25 8.25 0 0013.803-3.7M4.031 9.865a8.25 8.25 0 0113.803-3.7l3.181 3.182m0-4.991v4.99' /%3E%3C/svg%3E");
    background-repeat: no-repeat !important;
    content: "";
    line-height: 100%;
}
.checkout.woocommerce-checkout.processing{
    opacity: 0.5;
}
